---
import type { Lang } from "../i18n/i18n";
import { t } from "../i18n/i18n";
import Layout from "../layouts/Layout.astro";
import FloatingControls from "./FloatingControls.astro";
import SectionNav from "./SectionNav.astro";
import ScrollProgress from "./ScrollProgress.astro";
import Hero from "./Hero.astro";
import Projects from "./Projects.astro";
import Technologies from "./Technologies.astro";
import Experience from "./Experience.astro";
import TechFilter from "./TechFilter.astro";

interface Props {
  lang: Lang;
}

const { lang } = Astro.props;
---

<Layout lang={lang}>
  <a href="#main" class="skip-link">{t("a11y.skipToContent", lang)}</a>
  <ScrollProgress />
  <FloatingControls lang={lang} />
  <SectionNav lang={lang} />
  <main id="main" tabindex="-1">
    <Hero lang={lang} />
    <Experience lang={lang} />
    <Technologies lang={lang} />
    <Projects lang={lang} />
  </main>
  <TechFilter />
</Layout>
